/* Global CSS style */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 3% 10%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

.background-text {
    position: absolute;
    text-transform: uppercase;
    color: rgb(246, 246, 246);
    z-index: -1;
    font-weight: 900;
    font-size: 5rem;
    top: -5vh;
    left: -5vw;
}

.heading-text {
    position: relative;
}

/* Navbar */

/* Heading */

#heading {
    background: url(../assets/img/heading-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* -webkit-clip-path: inset(0px round 0px 0px 50px 50px);
    clip-path: inset(0px round 0px 0px 50px 50px); */

    color: white;
}

.heading-wrapper {
    min-height: 70vh;
}

.heading-content {
    text-align: center;
}

/* About */

.about-content {
    position: relative;
}

.image-wrapper {
    filter: drop-shadow(-1px 10px 15px rgba(0, 0, 0, 0.5));
}

.about-image {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 25rem;

}