/* Global CSS style */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 3% 10%;
}

/* Navbar */

/* Heading */

.heading-wrapper {
    min-height: 60vh;
}

.heading-content {
    text-align: center;
}